@use "mixins";

.about {
  text-align: center;
  // padding: 0 0 40px 0;
  background-color: #fef5e0;

  &__bottom {
    background-image: url(../../../isara_画像素材/aboutsecondbg.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    text-align: center;
    color: #fff;
  }
  &__bottom--container {
    width: 80%;
    color: #000;
    margin: 0 auto;
  }
  &__bottom--txt {
    font-weight: bold;
    margin: 30px;
  }
  &__bottom--text {
    font-size: 20px;
    font-weight: bold;
  }
  &--blue {
    padding: 40px 0;
    text-align: center;
    background-color: #016ea9;
    color: #fff;
  }
}

@media screen and (max-width: 786px) {
  .about {
    &__bottom {
      background-image: url(../../../isara_画像素材/aboutsecondbgsp.jpg);
      &--text {
        font-size: 16px;
      }
    }
  }
}

.circle__orange {
  @include mixins.circle(80px);
  color: #fff;
  background-color: #ebb94d;
  top: -40px;
}
.circle__white {
  @include mixins.circle(80px);
  color: #ebb94d;
  background-color: #fff;
  top: 0px;
  font-size: 18px;
}

@media screen and (max-width: 786px) {
  .circle {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
  }
  .circle__orange,
  .circle__white {
    @include mixins.circle(60px);
    font-size: 12px;
  }
}
