.about {
  text-align: center;
  // padding: 0 0 40px 0;
  background-color: #fef5e0;

  &__bottom {
    background-image: url(../../../isara_画像素材/aboutsecondbg.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    text-align: center;
    color: #fff;
  }
  &__bottom--container {
    color: #000;
  }
  &__bottom--txt {
    font-weight: bold;
    margin: 30px;
  }
  &__bottom--text {
    font-weight: bold;
  }
  &--blue {
    padding: 40px 0;
    text-align: center;
    background-color: #016ea9;
    color: #fff;
  }
}

@media screen and (max-width: 786px) {
  .about {
    &__bottom {
      background-image: url(../../../isara_画像素材/aboutsecondbgsp.jpg);
    }
  }
}

.circle {
  color: #fff;
  background-color: #ebb94d;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  top: -40px;
}

@media screen and (max-width: 786px) {
  .circle {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
  }
}
