.pc {
  display: block;
}
.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }
}

html {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.underline {
  font-weight: bold;
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.orangefont {
  color: #ebb94d;
}

