.btn {
  cursor: pointer;
  color: #fff;
  // background-color: #da6b64;
  text-align: center;

  &__header {
    padding: 11px 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 25px;
    position: absolute;
    right: 0;
    top: 16px;
    color: #fff;
    background-color: #da6b64;
    text-align: center;
  }

  &__inducement {
    font-size: 28px;
    font-weight: bold;
    padding: 30px 120px;
    border-radius: 50px;
    margin: 45px auto;
    max-width: 50%;
    width: 500px;
    color: #fff;
    background-color: #da6b64;
    text-align: center;
  }
  &__inducement:hover {
    background-color: #da6b64;
    opacity: 0.7;
  }
}

@media screen and (max-width: 786px) {
  .btn {
    &__header--sp {
      display: block;
      padding: 0 10px;
      height: 60px;
      position: absolute;
      right: 0px;
      top: 0;
      background-color: #da6b64;
    }
    &__header--sp img {
      width: 20px;
      margin-top: 10px;
    }
    &__header--txt {
      margin: 0;
      font-size: 12px;
    }
    &__inducement {
      font-size: 20px;
      padding: 15px 20px;
      margin: 20px auto;
    }
  }
}

.sns__btn {
  text-align: center;
  margin-top: 13px;
}

.sns__btn ul {
  display: flex;
  justify-content: center;
}

.tw-btn a,
.fb-btn iframe {
  display: inline-block;
  height: 20px;
  overflow: hidden;
}

.pagetop {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  bottom: 90px;
  right: 50px;
  background-color: #ececec;
  padding: 20px;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.arrow {
  display: block;
  width: 20px;
  height: 20px;
  border-top: 6px solid #000;
  border-right: 6px solid #000;
  transform: rotate(-45deg);
  margin-top: 5px;
}
