.container {
  max-width: calc(100% - 40px);
  width: 80%;
  margin: 30px auto;
  padding: 30px;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 4px;
  &__about,
  &__bottom {
    display: flex;
    align-items: center;
    padding: 0;
  }
  &__about {
    justify-content: center;
    gap: 30px;
  }
  &__bottom {
    justify-content: space-between;
    gap: 20px;
  }
  &__ttl {
    margin-bottom: 40px;
    font-weight: bold;
  }
  &__box {
    text-align: center;
  }
  &__txt {
    margin-top: 20px;
  }
  &__box--bottom {
    font-weight: bold;
    padding: 30px 30px 20px;
    background-color: #fff;
    border-radius: 5px;
    width: 30%;
    height: 120px;
  }
}

@media screen and (max-width: 1190px) {
  .container {
    &__bottom {
      flex-direction: column;
      margin: 0 atuo;
    }
    &__box--bottom {
      width: 60%;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    width: 60%;
    &__about {
      flex-direction: column;
    }
    &.container__img {
      height: 30px;
    }
  }
}

.index {
  color: #fff;
  background-color: #ebb94d;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .index {
    font-size: 14px;
    font-weight: bold;
  }
}
