.concept {
  background-image: url(../../../isara_画像素材/introbottom.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 587px;
  padding: 40px 0;
  &.concept__ttl--box {
    margin: 0 auto;
    position: relative;
    width: 860px;
    max-width: calc(100% - 40px);
    padding: 15px 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  &.concept__ttl--box::before,
  &.concept__ttl--box::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &.concept__ttl--box::before {
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
  }
  &.concept__ttl--box::after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
  }
}
