.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin: 30px auto;
  width: 90%;
  height: 70px;
  background-color: #fff;
  &__title {
    display: flex;
  }
  &__title--sub {
    font-size: 20px;
  }
}
