.inducement {
  color: #fff;
  text-align: center;
  padding: 30px 0;
  background-color: #ebb94d;
  &.inducement__txt {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__txt--sub {
    font-size: 15px;
    line-height: 1.4em;
    padding: 2px 4px;
    border-radius: 4px;
    color: #c7254e;
    background: linear-gradient(transparent 0%, #f9f2f4 0%);
    display: inline;
  }
  &__txt--under {
    margin: 30px 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 786px) {
  .inducement {
    padding: 15px 0;
    &__txt {
      font-size: 15px;
    }
    &__txt--under {
      font-size: 10px;
      max-width: calc(100% - 20px);
      margin: 30px auto;
    }
  }
}
