.inducement {
  color: #fff;
  text-align: center;
  padding: 30px 0;
  background-color: #ebb94d;
  &.inducement__txt {
    font-size: 20px;
    font-weight: bold;
  }
  &.inducement__txt--sub {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }
  &.inducement__txt--under {
    font-size: 12px;
  }
}

@media screen and (max-width: 786px) {
  .inducement {
    padding: 15px 0;
    &.inducement__txt {
      font-size: 15px;
    }
    &.inducement__txt--under {
      font-size: 10px;
      max-width: calc(100% - 20px);
      margin: 0 auto;
    }
  }
}
