@mixin mediumtxt {
  font-size: 20px;
  font-weight: 700px;
}
@mixin smalltxt {
  font-size: 14px;
  font-weight: 300px;
}
@mixin largetxt {
  font-size: 28px;
  font-weight: 700px;
}

@mixin circle($x) {
  padding: 0;
  margin: 0;
  width: $x;
  height: $x;
  line-height: $x;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}

@mixin arrow($color, $x) {
  display: block;
  width: 10px;
  height: 10px;
  border-top: 4px solid $color;
  border-right: 4px solid $color;
  transform: rotate($x);
  // translate: 0.2s;
}
