@charset "UTF-8";
.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
}
.header__inner {
  width: 1180px;
  max-width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  height: 75px;
  position: relative;
}
.header__title {
  display: flex;
  align-items: end;
  gap: 10px;
  bottom: 10px;
}
.header__title--sub {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 128px;
}

@media screen and (max-width: 786px) {
  .header__inner {
    max-width: 100%;
    margin: 0;
    height: 60px;
  }
  .header__title {
    flex-direction: column;
    align-items: start;
    gap: 0;
    margin-left: 10px;
  }
  .header__title--sub {
    font-size: 10px;
    order: -1;
  }
  .logo img {
    width: 90px;
  }
}
.pc {
  display: block;
}

.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}
html {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.underline {
  font-weight: bold;
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.orangefont {
  color: #ebb94d;
}

.btn {
  cursor: pointer;
  color: #fff;
  text-align: center;
}
.btn__header {
  padding: 11px 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
  position: absolute;
  right: 0;
  top: 16px;
  color: #fff;
  background-color: #da6b64;
  text-align: center;
}
.btn__inducement {
  font-size: 28px;
  font-weight: bold;
  padding: 30px 120px;
  border-radius: 50px;
  margin: 45px auto;
  max-width: 50%;
  width: 500px;
  color: #fff;
  background-color: #da6b64;
  text-align: center;
}
.btn__inducement:hover {
  background-color: #da6b64;
  opacity: 0.7;
}

@media screen and (max-width: 786px) {
  .btn__header--sp {
    display: block;
    padding: 0 10px;
    height: 60px;
    position: absolute;
    right: 0px;
    top: 0;
    background-color: #da6b64;
  }
  .btn__header--sp img {
    width: 20px;
    margin-top: 10px;
  }
  .btn__header--txt {
    margin: 0;
    font-size: 12px;
  }
  .btn__inducement {
    font-size: 20px;
    padding: 15px 20px;
    margin: 20px auto;
  }
}
.sns__btn {
  text-align: center;
  margin-top: 13px;
}

.sns__btn ul {
  display: flex;
  justify-content: center;
}

.tw-btn a,
.fb-btn iframe {
  display: inline-block;
  height: 20px;
  overflow: hidden;
}

.pagetop {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  bottom: 90px;
  right: 50px;
  background-color: #ececec;
  padding: 20px;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.arrow {
  display: block;
  width: 20px;
  height: 20px;
  border-top: 6px solid #000;
  border-right: 6px solid #000;
  transform: rotate(-45deg);
  margin-top: 5px;
}

.kv {
  background-image: url(../../../isara_画像素材/main.jpg);
  background-size: cover;
  background-position: center;
  display: table;
  width: 100%;
  height: 500px;
  padding-top: 75px;
}
.kv__center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.kv__center--ttl {
  font-size: 28px;
  font-weight: bold;
}
.kv__center--ttl-sub {
  font-size: 20px;
  font-weight: bold;
}
.kv__logo {
  max-width: 317px;
  margin-bottom: 20px;
}

@media screen and (max-width: 786px) {
  .kv {
    background-image: url(../../../isara_画像素材/mainsp.jpg);
    height: 312px;
    padding-top: 60px;
  }
  .kv__logo {
    max-width: 317px;
    width: 90%;
  }
}
.inducement {
  color: #fff;
  text-align: center;
  padding: 30px 0;
  background-color: #ebb94d;
}
.inducement.inducement__txt {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.inducement__txt--sub {
  font-size: 15px;
  line-height: 1.4em;
  padding: 2px 4px;
  border-radius: 4px;
  color: #c7254e;
  background: linear-gradient(transparent 0%, #f9f2f4 0%);
  display: inline;
}
.inducement__txt--under {
  margin: 30px 0;
  font-size: 12px;
}

@media screen and (max-width: 786px) {
  .inducement {
    padding: 15px 0;
  }
  .inducement__txt {
    font-size: 15px;
  }
  .inducement__txt--under {
    font-size: 10px;
    max-width: calc(100% - 20px);
    margin: 30px auto;
  }
}
.concept {
  background-image: url(../../../isara_画像素材/introbottom.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 587px;
  padding: 40px 0;
}
.concept__txt--box {
  padding: 15px 0;
}
.concept__txt--bold {
  font-weight: bold;
}

.squarebox {
  margin: 0 auto;
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
  padding: 40px 0px;
  box-sizing: border-box;
}
.squarebox__ttl {
  padding: 10px;
}
.squarebox__ttl--sub {
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 0;
}

.squarebox::before,
.squarebox::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  box-sizing: border-box;
}

.squarebox::before {
  top: 0;
  left: 0;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}

.squarebox::after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}

@media screen and (max-width: 786px) {
  .squarebox {
    margin: 0 auto;
    position: relative;
    width: 95%;
    max-width: calc(100% - 10px);
    padding: 5px 20px;
    box-sizing: border-box;
  }
}
.about {
  text-align: center;
  background-color: #fef5e0;
}
.about__bottom {
  background-image: url(../../../isara_画像素材/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  text-align: center;
  color: #fff;
}
.about__bottom--container {
  color: #000;
}
.about__bottom--txt {
  font-weight: bold;
  margin: 30px;
}
.about__bottom--text {
  font-weight: bold;
}
.about--blue {
  padding: 40px 0;
  text-align: center;
  background-color: #016ea9;
  color: #fff;
}

@media screen and (max-width: 786px) {
  .about__bottom {
    background-image: url(../../../isara_画像素材/aboutsecondbgsp.jpg);
  }
}
.circle {
  color: #fff;
  background-color: #ebb94d;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  top: -40px;
}

@media screen and (max-width: 786px) {
  .circle {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
  }
}
.container {
  max-width: calc(100% - 40px);
  width: 80%;
  margin: 30px auto;
  padding: 30px;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 4px;
}
.container__about, .container__bottom {
  display: flex;
  align-items: center;
  padding: 0;
}
.container__about {
  justify-content: center;
  gap: 30px;
}
.container__bottom {
  justify-content: space-between;
  gap: 20px;
}
.container__ttl {
  margin-bottom: 40px;
  font-weight: bold;
}
.container__box {
  text-align: center;
}
.container__txt {
  margin-top: 20px;
}
.container__box--bottom {
  font-weight: bold;
  padding: 30px 30px 20px;
  background-color: #fff;
  border-radius: 5px;
  width: 30%;
  height: 120px;
}

@media screen and (max-width: 1190px) {
  .container__bottom {
    flex-direction: column;
    margin: 0 atuo;
  }
  .container__box--bottom {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    width: 60%;
  }
  .container__about {
    flex-direction: column;
  }
  .container.container__img {
    height: 30px;
  }
}
.index {
  color: #fff;
  background-color: #ebb94d;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .index {
    font-size: 14px;
    font-weight: bold;
  }
}
.learning {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
}
.learning__top {
  padding: 20px 0 40px;
}
.learning__top--ttl, .learning__top--txt {
  margin: 20px 0;
}
.learning__top--bold {
  margin-top: 40px;
  font-weight: bold;
}
.learning__img {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px 0;
}
.learning__img img {
  width: 20%;
}

.merit {
  max-width: 100%;
  padding: 40px 0;
  text-align: center;
  background-color: #fef5e0;
}
.merit__content {
  width: 80%;
  margin: 0 auto;
}
.merit__content--wrap {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 30px auto;
  padding: 0;
}
.merit__content--box {
  width: 33%;
  margin: 0 auto;
}
.merit__content--img {
  width: 100%;
  height: 180px;
}
.merit__content--ttl {
  color: #ebb94d;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
.merit__content--txt {
  text-align: justify;
}

@media screen and (max-width: 786px) {
  .merit__content--wrap {
    flex-direction: column;
  }
  .merit__content--box {
    width: 40%;
  }
}/*# sourceMappingURL=style.css.map */