@charset "UTF-8";
.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
}
.header.header__inner {
  width: 1180px;
  max-width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  height: 75px;
  position: relative;
}
.header.header__title {
  display: flex;
  align-items: end;
  gap: 10px;
  bottom: 10px;
}
.header.header__title--sub {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 128px;
}

@media screen and (max-width: 768px) {
  .header.header__inner {
    margin: 0;
  }
  .header.header__title {
    flex-direction: column;
    align-items: start;
  }
  .header.header__title--sub {
    font-size: 10px;
    order: -1;
  }
  .logo img {
    width: 90px;
  }
}
.pc {
  display: block;
}

.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}
html {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.underline {
  font-weight: bold;
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 16px;
  color: #fff;
  background-color: #da6b64;
  text-align: center;
}
.btn.btn__header {
  padding: 11px 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
}
.btn.btn__inducement {
  font-size: 28px;
  font-weight: bold;
  padding: 30px 120px;
  border-radius: 50px;
  margin: 45px auto;
  max-width: 1028px;
}
.btn.btn__indecement:hover {
  background-color: #da6b64;
  opacity: 0.7;
}

@media screen and (max-width: 786px) {
  .btn.btn__header--sp {
    display: block;
    position: absolute;
    right: 0px;
    top: 0;
    padding: 9px 11px;
  }
  .btn.btn__inducement {
    font-size: 20px;
    padding: 15px 20px;
    margin: 10px 20px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
}
.sns__btn {
  text-align: center;
  margin-top: 13px;
}

.sns__btn ul {
  display: flex;
  justify-content: center;
}

.tw-btn a,
.fb-btn iframe {
  display: inline-block;
  height: 20px;
  overflow: hidden;
}

.pagetop {
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  position: fixed;
  bottom: 90px;
  right: 50px;
  background-color: #ececec;
  padding: 20px;
  z-index: 100;
}

.pagetop::before {
  content: "\f077";
  font-size: 30px;
  display: inline-block;
}

.kv {
  background-image: url(../../../isara_画像素材/main.jpg);
  background-size: cover;
  background-position: center;
  display: table;
  width: 100%;
  height: 500px;
}
.kv.kv__center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.kv.kv__center--ttl {
  font-size: 28px;
  font-weight: bold;
}
.kv.kv__center--ttl-sub {
  font-size: 20px;
  font-weight: bold;
}
.kv.kv__logo {
  max-width: 317px;
  margin-bottom: 20px;
}

@media screen and (max-width: 786px) {
  .kv {
    background-image: url(../../../isara_画像素材/mainsp.jpg);
    height: 312px;
  }
  .kv.kv__logo {
    max-width: 317px;
    width: 90%;
  }
}
.inducement {
  color: #fff;
  text-align: center;
  padding: 30px 0;
  background-color: #ebb94d;
}
.inducement.inducement__txt {
  font-size: 20px;
  font-weight: bold;
}
.inducement.inducement__txt--sub {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.inducement.inducement__txt--under {
  font-size: 12px;
}

@media screen and (max-width: 786px) {
  .inducement {
    padding: 15px 0;
  }
  .inducement.inducement__txt {
    font-size: 15px;
  }
  .inducement.inducement__txt--under {
    font-size: 10px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
  }
}
.concept {
  background-image: url(../../../isara_画像素材/introbottom.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 587px;
  padding: 40px 0;
}
.concept.concept__ttl--box {
  margin: 0 auto;
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
  padding: 15px 0px;
  box-sizing: border-box;
}
.concept.concept__ttl--box::before, .concept.concept__ttl--box::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
.concept.concept__ttl--box::before {
  top: 0;
  left: 0;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}
.concept.concept__ttl--box::after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}

.about {
  text-align: center;
  padding: 0 0 40px 0;
}
.about.about__top {
  background-color: #fef5e0;
}

.squarebox {
  margin: 0 auto;
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
  padding: 15px 0px;
  box-sizing: border-box;
}

@media screen and (max-width: 786px) {
  .squarebox {
    margin: 0 auto;
    position: relative;
    width: 95%;
    max-width: calc(100% - 10px);
    padding: 5px 20px;
    box-sizing: border-box;
  }
}
.circle {
  color: #fff;
  background-color: #ebb94d;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  top: -40px;
}

@media screen and (max-width: 786px) {
  .circle {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
  }
}
.container {
  width: 1180px;
  max-width: calc(100% - 40px);
  margin: 30px auto;
  padding: 30px;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 4px;
}
.container.container__about {
  display: flex;
  gap: 5px;
}
.container.container__box {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container.container__img {
    height: 30px;
  }
}/*# sourceMappingURL=style.css.map */